{% load static %} <!-- informa ao arquivo que tem arquivos estáticos -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django 1 - Contato</title>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>
<body>
    <h1>Index</h1>
    <img src="{% static 'images/geila.png' %}"/>
    <h2>{{ curso }}</h2>
    <h3>{{ outro }}</h3>
    <table border="1">
        <thead>
            <tr>
                <th>Produto</th>
                <th>Preço</th>
                
            </tr>
        </thead>
        <tbody>
            {% for produto in variavelCriadaExemplo %}
            <tr>
                <td><a href="{% url 'rotaproduto' produto.id %}"> {{ produto.nome }}</a></td>
                <td>{{ produto.preco }}</td>
            </tr>
            {% endfor %}
        </tbody>

        
    </table>
    <!--<span>{{ logado}}</span>-->
</body>
</html>